@use '../utils/variables' as v;
@use '../utils/mixins' as m;

.collapse {
    width: 100%;
    background-color: v.$collapse-body-bg-clr;
    border-radius: 5px;

    &-header {
        color: v.$collapse-header-text-clr;
        background-color: v.$collapse-header-bg-clr;
        overflow: hidden;
        padding: 0 12px 0 20px;
        border-radius: 5px;

        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 30px;

        @include m.media-breakpoint-up(desktop) {
            height: 52px;
            padding-right: 20px;
        }

        h2 {
            font-size: map-get(v.$font-sizes, fs-350);
            font-weight: map-get(v.$font-weights, bold);

            @include m.media-breakpoint-up(tablet) {
                font-size: map-get(v.$font-sizes, fs-500);
            }

            @include m.media-breakpoint-up(desktop) {
                font-size: map-get(v.$font-sizes, fs-800);
            }
        }

        button {
            border: none;
            background: transparent;

            &:hover {
                cursor: pointer;
            }
        }

        img {
            transform: rotate(0);
            height: 30px;
            width: 30px;
            transition: transform 500ms ease-in-out;

            &.rotate {
                transform: rotate(180deg);
            }
        }
    }

    &-body {
        color: v.$collapse-body-text-clr;
        font-size: map-get(v.$font-sizes, fs-300);
        font-weight: map-get(v.$font-weights, regular);

        overflow: hidden;
        opacity: 0;

        transition:
            height 500ms ease-in-out,
            opacity 400ms ease-in-out 200ms;

        @include m.media-breakpoint-up(tablet) {
            font-size: map-get(v.$font-sizes, fs-500);
        }

        p {
            padding: 20px;
        }

        &.open {
            opacity: 1;
        }
    }
}
