@use '../utils/mixins' as m;

.main-container {
    width: 100%;
    max-width: 1240px;
    padding: 0 20px;
    display: flex;
    margin: auto;
    flex-direction: column;

    @include m.media-breakpoint-up(tablet) {
        padding: 0 50px;
    }
}
