@use '../utils/mixins' as m;

.header {
    margin-top: 20px;
    margin-bottom: 27px;
    width: 100%;

    display: flex;
    justify-content: space-between;

    @include m.media-breakpoint-up(desktop) {
        margin-top: 45px;
        margin-bottom: 50px;
    }

    img {
        height: 47px;
        width: auto;

        @include m.media-breakpoint-up(desktop) {
            height: 68px;
        }
    }
}
